main {
	height: 60vh;
	background-color: var(--light-primary-color);
	overflow-y: auto;
}
main::-webkit-scrollbar {
	width: 1em;
}

main::-webkit-scrollbar-track {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

main::-webkit-scrollbar-thumb {
	background-color: var(--primary-color);
	border-radius: 28px;
	outline: 1px solid slategrey;
}

.add-button {
	display: flex;
	z-index: 2;
	align-items: center;
	position: sticky;
	background-color: var(--primary-color);
	padding: 10px;
	width: fit-content;
	height: fit-content;
	border-radius: 9999px;
	top: 85%;
	left: 93%;
	transition: 300ms ease-in-out;
	cursor: pointer;
}

.add-button:hover {
	background-color: var(--accent-color);
}
