@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
	--dark-primary-color: #303f9f;
	--light-primary-color: #c5cae9;
	--primary-color: #3f51b5;
	--text-icons: #ffffff;
	--accent-color: #448aff;
	--primary-text: #212121;
	--secondary-text: #757575;
	--divider-color: #bdbdbd;
	--main-font: "Barlow";
}

body {
	display: flex;
	font-family: var(--main-font);
	color: var(--text-icons);
	cursor: default;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	background-color: var(--light-primary-color);
}

.root-content {
	width: 60%;
	border-radius: 28px;
	box-shadow: 0 0 5px 5px var(--divider-color);
}

.overlay {
	display: none;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
}

.overlay.visible {
	display: block;
}
