.todos-holder {
	margin: var(--top-margin) 80px 50px;
	color: var(--primary-text);
}

.todo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 40px;
	background-color: white;
	outline: 1px solid var(--divider-color);
	border-left: 5px solid var(--priority-color);
}

@keyframes removeTodo {
	0% {
		position: absolute;
		right: 0%;
		opacity: 1;
	}
	100% {
		opacity: 0;
		right: -100%;
	}
}
.todo.removed {
	animation: 1s 1 normal removeTodo;
	animation-fill-mode: forwards;
}

.todo-title {
	font-weight: 600;
	font-size: px;
	display: flex;
	cursor: pointer;
}

.todo .todo-title .todo-title-text {
	display: block;
	position: relative;
	padding: 0.2em 0;
	overflow: hidden;
}

.todo-title .todo-check {
	accent-color: var(--accent-color);
	transform: scale(1.5);
	margin-right: 10px;
}

.todo .todo-title .todo-title-text::selection {
	background-color: inherit;
	color: inherit;
}

.todo .todo-title .todo-title-text::after {
	content: "";
	position: absolute;
	top: 53%;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: black;
	transition: transform 300ms;
	transform: translate3d(-100%, 0, 0);
}

.todo.completed .todo-title .todo-title-text::after {
	transform: translate3d(0, 0, 0);
}

.todo-interaction-buttons {
	display: flex;
	align-items: center;
	gap: 25px;
	justify-content: space-between;
}

.todo-due {
	text-align: right;
	width: 6rem;
}

.todo-details-button {
	width: 100px;
	color: var(--primary-color);
	font-family: inherit;
	font-weight: 600;
	background-color: white;
	border: 2px solid var(--primary-color);
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
}

.todo-details-button:hover {
	color: var(--accent-color);
	border-color: var(--accent-color);
	transition: color 300ms ease-in-out, border-color 300ms ease-in-out;
}

.todo-edit-button,
.todo-delete-button {
	cursor: pointer;
	width: 20px;
	padding: 0;
	margin: 0;
}

.todo-details {
	position: absolute;
	top: calc(50% - 30px - 25vh);
	left: calc(50% - 20vw);
	border-radius: 28px;
	width: 40vw;
	background-color: var(--light-primary-color);
	z-index: 70;
}

.todo-details.project {
	top: calc(50% - 30px - 30vh);
}

.todo-details.project .todo-main-details {
	height: 60vh;
}

.details-titlebar {
	display: flex;
	padding: 20px 40px;
	height: 20px;
	border-top-left-radius: 28px;
	border-top-right-radius: 28px;
	align-items: center;
	background-color: var(--dark-primary-color);
	justify-content: space-between;
}

.details-titlebar > input {
	font-family: inherit;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	border: none;
	font-size: 20px;
	font-weight: 600;
	transition: width 5ms ease-in-out;
}

.details-titlebar > input:enabled {
	border-bottom: 2px solid white;
}

.details-titlebar > input:focus {
	outline: none;
}

.details-close-button,
.save-button {
	height: 24px;
}

.details-close-button:hover,
.save-button:hover,
.edit-button:hover {
	opacity: 0.6;
	transition: opacity 300ms ease-in-out;
}

.todo-details-buttons {
	display: flex;
	align-items: center;
	gap: 10px;
}

.todo-details-buttons.save-mode .save-button {
	display: none;
}

.todo-details-buttons.save-mode .edit-button {
	display: block;
}

.todo-details-buttons.edit-mode .save-button {
	display: block;
}

.todo-details-buttons.edit-mode .edit-button {
	display: none;
}

.todo-details-buttons > * {
	cursor: pointer;
}

.svg-white {
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(320deg)
		brightness(103%) contrast(101%);
}

.todo-main-details {
	height: 50vh;
	color: var(--primary-text);
	padding: 10px 20px;
}

.todo-creation-details {
	font-size: 12px;
	color: var(--secondary-text);
}

.todo-creation-details > .creation-date {
	color: var(--primary-text);
}

.todo-other-details {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 5fr 2fr;
	grid-template-rows: repeat(3, 1fr);
	gap: 20px;
	grid-template-areas:
		"description duedate"
		"description priority"
		"note status";
}

.todo-details.project .todo-other-details {
	grid-template-rows: repeat(4, 1fr);
	grid-template-areas:
		"description duedate"
		"description priority"
		"note status"
		"note parent-project";
}

.todo-other-details > div {
	display: flex;
	flex-direction: column;
}

.todo-other-details textarea,
.add-form textarea {
	background-color: rgba(0, 0, 0, 0);
	font-family: inherit;
	font-size: 17px;
	padding: 5px 10px;
	height: 100%;
	resize: none;
}

.todo-other-details textarea:disabled {
	background-color: inherit;
	color: inherit;
	border: 1px solid rgba(0, 0, 0, 0);
}

.todo-other-details > div:nth-child(1) {
	grid-area: description;
}

.todo-other-details > div:nth-child(2) {
	grid-area: duedate;
}

.todo-other-details > div:nth-child(3) {
	grid-area: note;
}

.todo-other-details > div:nth-child(4) {
	grid-area: priority;
}

.todo-other-details > div:nth-child(5) {
	grid-area: status;
}

.todo-other-details > div:nth-child(6) {
	grid-area: parent-project;
}

.todo-details-duedate,
.add-todo-due-date {
	font-family: inherit;
	color: inherit;
	font-size: 15px;
	background-color: inherit;
	border: 1px solid rgba(0, 0, 0, 0.75);
	padding: 2px 5px;
}

.todo-details-duedate:disabled {
	border: 1px solid rgba(0, 0, 0, 0);
	opacity: 1;
}

.todo-details-priority,
.todo-details-parent-project {
	font-family: inherit;
	font-size: 18px;
	color: inherit;
	background-color: inherit;
	border: none;
	outline: 1px solid rgba(0, 0, 0, 0.75);
	padding: 2px 5px;
}

.todo-details-priority:disabled,
.todo-details-parent-project:disabled {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: "";
	padding: 3px 8px;
	opacity: 1;
	outline: none;
}

.todo-other-details > div > label,
.add-form label {
	font-size: 20px;
	font-weight: 600;
	padding-bottom: 2px;
	margin-bottom: 8px;
	border-bottom: 2px solid var(--divider-color);
}

.todo-status-button {
	background-color: rgba(0, 0, 0, 0);
	font-family: inherit;
	margin-top: 20px;
	padding: 10px;
	font-size: 18px;
	font-weight: 500;
	border: none;
	border-radius: 28px;
	box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.5),
		5px 5px 10px rgba(255, 255, 255, 0.5);
	transition: box-shadow 300ms ease-in-out;
}

.todo-status-button:hover {
	color: var(--accent-color);
	box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.5),
		1px 1px 10px rgba(255, 255, 255, 0.5),
		inset -3px -3px 10px rgba(0, 0, 0, 0.5),
		inset 3px 3px 10px rgba(255, 255, 255, 0.5);
}

/* Start Add Todo page styles */
.add-todo-page {
	position: absolute;
	top: calc(50% - 25vh);
	left: calc(50% - 20vw);
	border-radius: 28px;
	width: 40vw;
	height: 50vh;
	background-color: var(--light-primary-color);
	z-index: 70;
	color: var(--primary-text);
}

.add-titlebar {
	background-color: var(--primary-color);
	border-top-left-radius: 28px;
	border-top-right-radius: 28px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	padding: 20px 30px;
}

.add-titlebar .title {
	font-size: 20px;
	font-weight: 600;
	font-family: inherit;
}

.add-page-close-button {
	height: 24px;
	cursor: pointer;
	transition: opacity 300ms ease-in-out;
}

.add-page-close-button:hover {
	opacity: 0.5;
}

.add-form {
	display: grid;
	border: none;
	height: 65%;
	gap: 20px;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: repeat(auto-fit, 1fr);
	grid-template-areas:
		"title priority"
		"description duedate"
		"note status";
}

.add-form > div {
	display: flex;
	flex-direction: column;
}

.add-form > div:nth-child(1) {
	grid-area: title;
}

.add-form > div:nth-child(2) {
	grid-area: description;
}

.add-form > div:nth-child(3) {
	grid-area: duedate;
}

.add-form > div:nth-child(4) {
	grid-area: note;
}

.add-form > div:nth-child(5) {
	grid-area: priority;
}

.add-form > div:nth-child(6) {
	grid-area: status;
}

.add-form textarea {
	height: 100%;
}

.add-todo-title {
	font-family: inherit;
	font-size: 17px;
	background-color: rgba(0, 0, 0, 0);
	border-width: 1px;
	padding: 5px 10px;
}

.add-todo-status {
	display: flex;
	align-items: center;
	gap: 10px;
}

.add-todo-status-checkbox {
	transform: scale(1.5);
}

/* margin for add todo button */
.add-todo-button {
	position: absolute;
	right: 20px;
	bottom: 15px;
	padding: 10px 50px;
	border-radius: 28px;
	border: none;
	font-size: 20px;
	font-family: inherit;
	font-weight: 600;
	box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.5),
		5px 5px 10px rgba(255, 255, 255, 0.5);
	transition: box-shadow 300ms ease-in-out;
	cursor: pointer;
}

.add-todo-button:hover {
	color: var(--accent-color);
	box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.5),
		1px 1px 10px rgba(255, 255, 255, 0.5),
		inset -3px -3px 10px rgba(0, 0, 0, 0.5),
		inset 3px 3px 10px rgba(255, 255, 255, 0.5);
}
