.todos-holder {
	margin: 50px 80px;
	color: var(--primary-text);
}

.todo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 40px;
	background-color: white;
	outline: 1px solid var(--divider-color);
	border-left: 5px solid var(--priority-color);
}

.todo-title {
	font-weight: 600;
	font-size: px;
	display: flex;
	cursor: pointer;
}

.todo .todo-title .todo-title-text {
	display: block;
	position: relative;
	padding: 0.2em 0;
	overflow: hidden;
}

.todo-title .todo-check {
	accent-color: var(--accent-color);
	transform: scale(1.5);
	margin-right: 10px;
}

.todo .todo-title .todo-title-text::selection {
	background-color: inherit;
	color: inherit;
}

.todo .todo-title .todo-title-text::after {
	content: "";
	position: absolute;
	top: 53%;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: black;
	transition: transform 300ms;
	transform: translate3d(-100%, 0, 0);
}

.todo.completed .todo-title .todo-title-text::after {
	transform: translate3d(0, 0, 0);
}

.todo-interaction-buttons {
	display: flex;
	align-items: center;
	gap: 25px;
	justify-content: space-between;
}

.todo-due {
	text-align: right;
	width: 6rem;
}

.todo-details-button {
	width: 100px;
	color: var(--primary-color);
	font-family: inherit;
	font-weight: 600;
	background-color: white;
	border: 2px solid var(--primary-color);
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
}

.todo-details-button:hover {
	color: var(--accent-color);
	border-color: var(--accent-color);
	transition: color 300ms ease-in-out, border-color 300ms ease-in-out;
}

.todo-edit-button,
.todo-delete-button {
	cursor: pointer;
	width: 20px;
	padding: 0;
	margin: 0;
}

.todo-details {
	position: absolute;
	top: calc(50% - 30px - 20vh);
	left: calc(50% - 20vw);
	border-radius: 28px;
	width: 40vw;
	background-color: var(--light-primary-color);
	z-index: 2;
}

.details-titlebar {
	display: flex;
	padding: 20px 40px;
	height: 20px;
	border-top-left-radius: 28px;
	border-top-right-radius: 28px;
	align-items: center;
	background-color: var(--dark-primary-color);
	justify-content: space-between;
}

.details-titlebar > div > input {
	font-family: inherit;
	background-color: rgba(0, 0, 0, 0);
	color: white;
	border: none;
	font-size: 20px;
	font-weight: 600;
	transition: width 5ms ease-in-out;
}

.details-titlebar > div > input:enabled {
	border-bottom: 2px solid white;
}

.details-titlebar > div > input:focus {
	outline: none;
}

.details-close-button {
	height: 1.5rem;
	cursor: pointer;
}

.details-close-button:hover {
	opacity: 0.75;
	transition: opacity 300ms ease-in-out;
}

.todo-main-details {
	height: 40vh;
}

.todo-title-things {
	display: flex;
	align-items: center;
	gap: 10px;
}

.svg-white {
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(320deg)
		brightness(103%) contrast(101%);
}
